
#bannerNameFirst{
    font-size: 17vh;
    font-weight: 900;
    line-height: 90%;
}

#bannerNameLast{
    font-size: 13vh;
    font-weight: 900;
    line-height: 90%;
}

#title{
    font-size: 5vh;
    font-weight: 500;
    color: #1282A2
    
    /* margin-top: -7.5%; */
}